body {
	padding-top: 50px;
}

rect.key {
	opacity: 0.9;
	fill: #D0D0D0;
	stroke: "grey";
	stroke-width: 3;
}
rect.key.tonic {
	fill: #0099FF;
}
rect.key.stable {
	fill: #B0B0FF;
}
rect.key:hover {
	fill: orange;
}