{% extends "base.html" %}
{% load staticfiles %}
{% load get_setting %}

{% block content %}

<h1>My first collaborative web synth</h1>
<p class="lead">
	Showcase: shared music creation on the web. Ask a friend to open his browser to hear the magic :-)
</p>
<div class="synth"></div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
	var ws_url = "{% get_setting WEBSOCKET_URL %}"
</script>
<script type="text/javascript" src="{% static "examples/js/synth.js" %}"></script>
{% endblock %}
