description "Tornado server for {{ inventory_hostname }}"

start on net-device-up
stop on shutdown

respawn

setuid {{ ansible_ssh_user }}
chdir /home/{{ ansible_ssh_user }}/sites/{{ inventory_hostname }}/source
exec ../virtualenv/bin/python tornado_main.py --unix-socket
